<aside>
    <h1>Administração</h1>
    <div>
        <ul>
            <li>@Html.ActionLink("Posts", "Index", "Post")</li>
            <li>@Html.ActionLink("Visualizar Usuarios", "VisUser", "Usuario", new { Area = "" })</li>
            <li>@Html.ActionLink("Incluir Usuarios", "NovoUser", "Usuario", new { Area = "" })</li>
        </ul>
    </div>
</aside>